<!-- Navbar -->
<nav class="space-x-4 relative">
    <div class="max-w-7xl mx-auto px-4 py-3 flex justify-between items-center">
        <h1 class="text-2xl font-bold text-emerald-700">
            Issaquah Sportsmen's Club
        </h1>
        <ul class="flex flex-wrap gap-4 text-sm font-medium sm:flex-nowrap">
            <!-- Home -->
            <li>
                <a href="index.html" class="hover:text-emerald-600">Home</a>
            </li>

            <!-- About -->
            <li>
                <div class="inline-block relative group">
                    <div class="hover:text-emerald-600 cursor-pointer">
                        About ▾
                    </div>
                    <div
                        class="absolute hidden group-hover:block bg-white shadow rounded mt-1 z-10 text-black w-36 pb-6"
                    >
                        <a
                            href="faq.html"
                            class="block px-4 py-2 hover:bg-gray-100"
                            >FAQ</a
                        >
                        <a
                            href="history.html"
                            class="block px-4 py-2 hover:bg-gray-100"
                            >Mission Statement</a
                        >
                        <a
                            href="sop.html"
                            class="block px-4 py-2 hover:bg-gray-100"
                            >SOP & Bylaws</a
                        >
                        <a
                            href="community.html"
                            class="block px-4 py-2 hover:bg-gray-100"
                            >Community</a
                        >
                    </div>
                </div>
            </li>

            <!-- Gun Range -->
            <li>
                <div class="inline-block relative group">
                    <button class="hover:text-emerald-600">Gun Range ▾</button>
                    <div
                        class="absolute hidden group-hover:block bg-white shadow rounded mt-1 z-10 text-black w-36"
                    >
                        <a
                            href="range-rules.html"
                            class="block px-4 py-2 hover:bg-gray-100"
                            >Rules</a
                        >

                        <a
                            href="range-orientation.html"
                            class="block px-4 py-2 hover:bg-gray-100"
                            >Orientation Video</a
                        >

                        <!-- ADD OSHA, L&I - ADD TO RULES-->
                        <a
                            href="range-ppe.html"
                            class="block px-4 py-2 hover:bg-gray-100"
                            >Protective Equipment</a
                        >
                    </div>
                </div>
            </li>

            <!-- Archery -->
            <li>
                <div class="inline-block relative group">
                    <button class="hover:text-emerald-600">Archery ▾</button>
                    <div
                        class="absolute hidden group-hover:block bg-white shadow rounded mt-1 z-10 text-black w-36"
                    >
                        <!-- DELETE -->
                        <!-- <a
                            href="arch-flat-range.html"
                            class="block px-4 py-2 hover:bg-gray-100"
                            >Flat Range</a
                        > -->

                        <a
                            href="arch-rules.html"
                            class="block px-4 py-2 hover:bg-gray-100"
                            >Range Rules</a
                        >
                        <a
                            href="arch-range-orientation.html"
                            class="block px-4 py-2 hover:bg-gray-100"
                            >Archery Range Orientation and Access</a
                        >
                        <a
                            href="arch-range-test.html"
                            class="block px-4 py-2 hover:bg-gray-100"
                            >Archery Range Exam</a
                        >
                    </div>
                </div>
            </li>

            <!-- Hunters Ed -->
            <li>
                <a href="hunter-ed-online.html" class="hover:text-emerald-600"
                    >Hunter Ed</a
                >
            </li>

            <!-- Membership -->
            <li>
                <a href="membership.html" class="hover:text-emerald-600"
                    >Membership</a
                >
            </li>

            <!-- Contact Us -->
            <li>
                <a href="contact.html" class="hover:text-emerald-600"
                    >Contact</a
                >
            </li>
        </ul>
    </div>
</nav>

<!-- Hero Section -->
<section class="bg-emerald-700 text-white py-5 text-center flex object-center">
    <div class="max-w-3xl mx-auto px-4">
        <h2 class="text-3xl font-bold mb-4">Welcome to</h2>
        <img src="/isc/assets/ISC.png" class="object-center" />
        <p class="text-lg">
            Promoting safe and responsible shooting, archery, and education for
            our community since 1921.
        </p>
    </div>
</section>
